
<div class="nav-bar">
 	<h1>Bloc Chat</h1>
 	<button class="new-room-button" type="button" ng-click="home.openNewRoomDialog()">New room</button>

        <ul class="rooms-list">
            <li class="room-name" ng-repeat="room in home.chatRoomArray" ng-click="home.setCurrentRoom(room)">
                  {{room.$value}}
            </li>
        </ul>

</div>

<hr>

<div class="room-view" >
    <span class="room-title">{{home.currentRoomId}}</span>
     <ul class="messages-list">
          <li class="message" ng-repeat="message in home.messageArray track by $index">
              <span class="message-username">{{message.username}}</span><br>
              <span class="message-content">{{message.content}}</span><span class="message-time">{{message.sentAt}}</span>
          </li>
     </ul>
     <form class="message-form" ng-submit="home.sendMessage()">
          <input type="text" class="message-input" placeholder="Write your message here..." ng-model="home.message">
          <input type="submit" class="button-sendmessage" value="Send">
    </form>
</div>