<h2>You haven't seen nothing yet</h2>
<li class="room-name" ng-repeat="room in rooms.availableRooms.all" ng-click="home.setCurrentRoom(room)">{{room.$value}}
</li>
<hr>
<div class="room-view" >
    <span class="room-title">{{home.currentRoomTitle}}</span>
     <ul class="messages-list">
          <li class="message" ng-repeat="message in home.messageArray track by $index">
              <span class="message-username">{{message.user}}</span><br>
              <span class="message-content">{{message.content}}</span><span class="message-time">{{message.sentAt}}</span>
          </li>
     </ul>
<!--     <form class="message-form" ng-submit="home.sendMessage()">
          <input type="text" class="message-input" placeholder="Write your message here..." ng-model="home.message">
          <input type="submit" class="button-sendmessage" value="Send">
    </form> -->
</div>